.travel-page {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  .featured-destinations {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .featured-destinations li {
    margin-bottom: 20px;
    flex-basis: calc(33.33% - 10px);
  }
  
  .featured-destinations li a {
    display: block;
    text-align: center;
    text-decoration: none;
  }
  
  .featured-destinations li img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  
  .featured-destinations li h3 {
    margin: 10px 0;
    font-size: 1.2rem;
    font-weight: bold;
  }
  